.navbar-click{
	background-color: black;
	transition: .5s ease-in-out;
	min-height: 280px;		
}
.navbar-fixed{
	transition:  .3s ease-in-out;
	background-color: black;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
}
.navbar-brand{
	font-family: 'Alata', sans-serif;
	font-size: 25px;
}
.nav-link{
	text-transform: uppercase;
	margin-right: 20px;
}
.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 1px 1px black;
	}
.nav-link{
	text-transform: uppercase;
	margin-right: 30px;
	}
.nav-link:hover::after{
	content: '';
	display: block;
	border-bottom:3px solid orange;
	width: 100%;
	margin:auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}
.navbar-toggler{
	margin-left: 318px;
	margin-top: -40px;
}
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
	text-shadow: 1px 0px 1px black;
	font-family: 'Alata', sans-serif;	
}
.button1{
	text-transform: uppercase;
	text-shadow: 1px 0px 1px black;
	width: 100%;
	margin-top: 3px;
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
}
.jumbotron{
	background-image: url("../img/infogambarsi.jpg");
	background-size: cover;
	background-position: center;
	height: 660px;
	text-align: center;
	position: relative;
	margin-top: -30px;
	font-family: monoton;
	background-attachment: fixed;	
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height:100%;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(1,0,0,0));
	position: absolute;
	bottom: 0;
}
.jumbotron .display-4{
	color: white;
	margin-top: 210px;
	font-size: 23px;
	font-family: 'Alata', sans-serif;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.9);
	
}	
.jumbotron  span{
	color: white;
	font-size:16px;
	font-family: 'Quicksand', sans-serif;
}

.box1{
	width: 100%;
	height: 400px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	background-color: white;
	margin-top: 20px;
}
.box2{
	width: 100%;
	height: 400px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	background-color: white;
	margin-top: 20px;
}
.h3info{
	padding-top: 40px;
	margin-left: 170px;
	font-weight: 600;
}
.gradnew{
	width: 150px;
	height: 100px;
	margin-left: 120px;
	margin-top: 10px;
}
.h5info{
	text-align: center;
	margin-top: 40px;
	font-weight: 600;
}
.btn-primary{
	margin-left: 38px;
	margin-top: 20px;
	width: 80%;
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
}
.product{
	text-align: center;
	color: #b3b3b3;
	font-weight: 700;
	margin-top: -50px;
}
.isinya{
	text-align: center;
	color: black;
	font-weight: 600;
}
.footer{
	height: 640px;
	background-color:#1a1a1a;
	margin-top: 110px;
	}
.fmari{
	margin-top: 20px;
	color: white;
	border-left: 5px solid orange;
	margin-left: 0px;
}
.fweb{
	color: white;
	padding-top: 6px;
	padding-left:0px;
}
.flink{
	margin-top: 35px;
	margin-left: 0px;
	color: white;
	border-left: 5px solid orange;
}
.flinks a {
	color: white;
	padding-top: 6px;
	padding-left: 0px;
}
.fkontak{
	margin-top: 20px;
	margin-left: 0px;
	color: white;
	border-left: 5px solid orange;
}
.fkontaks{
	color: white;
	padding-top: 6px;
	padding-left: 0px;
}
.wa{
	width: 30px;
	margin-top: 0px;
	margin-left: 0px;
}
.fb{
	width: 30px;
	margin-top: 0px;
	margin-left: 30px;
}
.ig{
	width: 30px;
	margin-top: 0px;
	margin-left: 30px;
}
.footer2{
	background-color: #000000;
	height: 80px;	
}
.footer2 h4{
	margin-top: 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}







@media (min-width: 992px) { 
.navbar{
	background-color: transparent;
	transition:  .3s ease-in-out;
	height: 80px;
	z-index: 99999;
}		
.navbar-fixed{
	transition:  .3s ease-in-out;
	background-color: black;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
}
.navbar-brand, .nav-link{
	color: white !important;
	text-shadow: 1px 2px 1px black;
	font-weight: 500;
	font-family: 'Alata', sans-serif;
}
.nav-link{
	text-transform: uppercase;
	margin-right: 30px;
}
.nav-link:hover::after{
	content: '';
	display: block;
	border-bottom:3px solid orange;
	width: 100%;
	margin:auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}
.jumbotron{
	background-image: url("../img/infogambarsi.jpg");
	background-size: cover;
	height: 740px;
	margin-top: -80px;
	background-attachment: fixed;	
	font-family: 'Alata', sans-serif;
}
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height:100%;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(1,0,0,0));
	position: absolute;
	bottom: 0;
}
.jumbotron .display-4{
	font-size: 68px;
	font-family: 'Alata', sans-serif;
	text-shadow: 1px 1px 11px rgba(0,0,0,0.9);
	letter-spacing: 2px;
	top: 0px;
}
.jumbotron  span{
	font-size: 25px;
	color:white;
	font-family: 'Quicksand', sans-serif;		
}
	/*utility*/
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
	text-shadow: 1px 0px 1px black;
	font-family: 'Alata', sans-serif;
	
}
.button1{
	text-transform: uppercase;
	text-shadow: 1px 0px 1px black;
	width: 50%;
	margin-top: 3px;
	border-radius: 40px;
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
}
.box1{
	width: 100%;
	height: 400px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	background-color: white;
	margin-top: 20px;
}
.box2{
	width: 100%;
	height: 400px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	background-color: white;
	margin-top: 20px;
}
.h3info{
	padding-top: 40px;
	margin-left: 245px;
	font-weight: 600;
}
.gradnew{
	width: 150px;
	height: 100px;
	margin-left: 195px;
	margin-top: 30px;
}
.h5info{
	text-align: center;
	margin-top: 40px;
	font-weight: 600;
}
.btn-primary{
	margin-left: 50px;
	margin-top: 20px;
	width: 80%;
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
}
.footer{
	height: 250px;
	background-color:#1a1a1a;
	margin-top: 70px;
}
.fmari{
	margin-top: 20px;
	color: white;
	border-left: 5px solid orange;
	margin-left: 120px;
}
.fweb{
	color: white;
	padding-top: 6px;
	padding-left:120px;
}
.flink{
	margin-top: 20px;
	margin-left: 140px;
	color: white;
	border-left: 5px solid orange;
}
.flinks a {
	color: white;
	padding-top: 6px;
	padding-left: 140px;
}
.fkontak{
	margin-top: 20px;
	margin-left: 40px;
	color: white;
	border-left: 5px solid orange;
}
.fkontaks{
	color: white;
	padding-top: 6px;
	padding-left: 40px;
}
.wa{
	width: 40px;
	margin-top: 20px;
	margin-left: 120px;
}
.fb{
	width: 40px;
	margin-top: 20px;
	margin-left: 30px;
}
.ig{
	width: 40px;
	margin-top: 20px;
	margin-left: 30px;
}
.footer2{
	background-color: #000000;
	height: 50px;	
}
.footer2 h4{
	margin-top: 14px;
	color: white;
	font-size: 14px;
	font-weight: 600;
}
.product{
	text-align: center;
	color: #b3b3b3;
	font-weight: 700;
	margin-top: -50px;
}
.isinya{
	text-align: center;
	color: black;
	font-weight: 600;
}
}