body{
	background-color: #f2f2f2;
}
section{
	height: 550px;
	background-color: white;
	box-shadow: 0  2px 5px rgba(0,0,0,0.4);
	width: 100%;
	margin-top: 50px;
	margin-left: 0px;
	border-radius: 8px;
}
.h3log{
	text-align: center;
	padding-top: 50px;
	color: grey;
	font-weight: 600;
}
.h4log{
	text-align: center;
	padding-top: -50px;
	font-weight: 700;

}
.hayukhr{
	width: 30%;
	border-color: orange;
}
.img-fluid{
	height: 200px;
	margin-left: 95px;
	margin-top: -20px;
}
.textbox{
	width: 60%;
	overflow: hidden;
	font-size: 20px;
	padding:8px 0;
	margin:8px 0;
	margin-left: 75px;
	margin-top: -10px;
	border-bottom: 1px solid grey;
}
.textbox i{
	width: 26px;
	text-align: center;
}
.textbox input{
	border:none;
	outline: none;
	background:none;
	color:grey;
	font-size: 18px;
	width: 100%;
	margin: 0 1-px;
}
.btn{
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
	margin-left: 93px;
	margin-top: 30px;
	width: 50%;
	border-radius: 15px;
	font-weight: 600;
}
.daftar{
	margin-left: 95px;
	margin-top: 20px;
}

a{
	color: red;
}
.daftar a:hover{
	text-decoration: none;
	color:blue;
}









@media (min-width: 992px) { 
section{
	height: 600px;
	background-color: white;
	box-shadow: 0  2px 5px rgba(0,0,0,0.4);
	width: 35%;
	margin-top: 30px;
	margin-left: 380px;
	border-radius: 8px;
}
.h3log{
	text-align: center;
	padding-top: 50px;
	color: grey;
	font-weight: 600;
}
.h4log{
	text-align: center;
	padding-top: -50px;
	font-weight: 700;

}
.hayukhr{
	width: 30%;
	border-color: orange;
}
.img-fluid{
	height: 200px;
	margin-left: 95px;
	margin-top: -20px;
}
.textbox{
	width: 60%;
	overflow: hidden;
	font-size: 20px;
	padding:8px 0;
	margin:8px 0;
	margin-left: 75px;
	margin-top: -10px;
	border-bottom: 1px solid grey;
}
.textbox i{
	width: 26px;
	text-align: center;
}
.textbox input{
	border:none;
	outline: none;
	background:none;
	
	font-size: 18px;
	width: 100%;


}
.btn{
	background: linear-gradient(to right, #ffff00 2%, #ff9933 98%);
	margin-left: 95px;
	margin-top: 30px;
	width: 50%;
	border-radius: 15px;
	font-weight: 600;
}
.daftar{
	margin-left: 100px;
	margin-top: 30px;
}

a{
	color: red;
}
.daftar a:hover{
	text-decoration: none;
	color:blue;
}
}











